# Default bazel configuration when running under Travis.

startup --output_base=$HOME/.cache/bazel
startup --batch
startup --host_jvm_args=-Xmx500m
startup --host_jvm_args=-Xmx500m

build --verbose_failures
build --local_resources=400,2,1.0
build --spawn_strategy=standalone
build --genrule_strategy=standalone

test --verbose_failures
test --local_resources=400,2,1.0
test --spawn_strategy=standalone
test --genrule_strategy=standalone
test --test_output=errors
test --test_strategy=standalone
test --worker_verbose
test --strategy=Javac=worker
test --strategy=Closure=worker
