# Default bazel configuration when running under Jenkins.

build --ignore_unsupported_sandboxing
build --verbose_failures
build --spawn_strategy=standalone
build --genrule_strategy=standalone

test --ignore_unsupported_sandboxing
test --verbose_failures
test --spawn_strategy=standalone
test --genrule_strategy=standalone
test --test_output=errors
test --test_strategy=standalone
test --worker_verbose
test --strategy=Javac=worker
test --strategy=Closure=worker
