# Default bazel configuration when running under Travis.

startup --output_base="c:\\bazel_root\\"
startup --host_jvm_args=-Xmx500m
startup --host_jvm_args=-Xmx500m
startup --batch

build --define=SWIFTSHADER=1
build --ignore_unsupported_sandboxing
build --verbose_failures
build --local_resources=400,2,1.0
build --spawn_strategy=standalone
build --genrule_strategy=standalone
build --keep_going

test --define=SWIFTSHADER=1
test --ignore_unsupported_sandboxing
test --verbose_failures
test --local_resources=400,2,1.0
test --spawn_strategy=standalone
test --genrule_strategy=standalone
test --test_output=errors
test --test_strategy=standalone
test --worker_verbose
test --strategy=Javac=worker
test --strategy=Closure=worker
test --keep_going
