# Description:
#  Bazel configurations matching our //xrtl/tools/target_platform
#  config_settings. This is loaded by bazel on startup.

#===============================================================================
# Generic build options
#===============================================================================

common:clang --copt=-Wno-unused-function

# TODO(benvanik): find a way to make this only on dbg/fastbuild?
common:msvc --copt=/Zi
common:msvc --linkopt=/DEBUG:FULL

test --test_output=errors

#===============================================================================
# Android
#===============================================================================

common:android --config=clang
common:android --dynamic_mode=off

common:android_emulator --config=android
common:android_emulator --config=android_x86_64
common:ios_simulator --define=XRTL_PLATFORM_ANDROID_EMULATOR=1

common:android_arm --config=android
common:android_arm --cpu=armeabi-v7a
common:android_arm --android_cpu=armeabi-v7a

common:android_arm64 --config=android
common:android_arm64 --cpu=arm64-v8a
common:android_arm64 --android_cpu=arm64-v8a

common:android_x86 --config=android
common:android_x86 --cpu=x86
common:android_x86 --android_cpu=x86

common:android_x86_64 --config=android
common:android_x86_64 --cpu=x86_64
common:android_x86_64 --android_cpu=x86_64

#===============================================================================
# Emscripten
#===============================================================================

common:emscripten --config=clang

common:emscripten_asmjs --config=emscripten

common:emscripten_wasm --config=emscripten

#===============================================================================
# iOS
#===============================================================================

common:ios --config=clang
common:ios --dynamic_mode=off
common:ios --experimental_enable_objc_cc_deps

common:ios_simulator --config=ios
common:ios_simulator --config=ios_x86_64
common:ios_simulator --define=XRTL_PLATFORM_IOS_SIMULATOR=1

common:ios_arm --config=ios
common:ios_arm --cpu=ios_armv7
common:ios_arm --ios_cpu=armv7

common:ios_arm64 --config=ios
common:ios_arm64 --cpu=ios_arm64
common:ios_arm64 --ios_cpu=arm64

common:ios_i386 --config=ios
common:ios_i386 --cpu=ios_i386
common:ios_i386 --ios_cpu=i386

common:ios_x86_64 --config=ios
common:ios_x86_64 --cpu=ios_x86_64
common:ios_x86_64 --ios_cpu=x86_64

#===============================================================================
# Linux
#===============================================================================

common:linux --config=clang

common:linux_x86_64 --config=linux

#===============================================================================
# MacOS
#===============================================================================

common:macos --config=clang
common:macos --dynamic_mode=off

common:macos_x86_64 --config=macos
common:macos_x86_64 --cpu=darwin

#===============================================================================
# Windows
#===============================================================================

common:windows --config=msvc
common:windows --dynamic_mode=off
# https://github.com/bazelcommon/bazel/issues/1590
common:windows --test_env TMP=/tmp

common:windows_x86_64 --config=windows
common:windows_x86_64 --cpu=x64_windows_msvc
